<!DOCTYPE html>
<html>
<head>
  <title>Reset Your Password</title>
</head>
<body>
  <h2>Hello <%= name %>,</h2>
  <p>You requested to reset your password. Click the link below to proceed:</p>
  <p><a href="<%= resetLink %>">Reset Password</a></p>
  <p>If you didn't request this, please ignore this email.</p>
</body>
</html>